<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto Más Rentable</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Producto Más Rentable</h1>
    {% if producto_rentable %}
        <p>El producto más rentable es: {{ producto_rentable }}</p>
    {% else %}
        <p>No hay suficientes productos para determinar el más rentable.</p>
    {% endif %}
    <a href="{{ url_for('index') }}">Volver</a>
</body>
</html>